/* rem and em do not depend on html font size in media queries
instead 1rem = 1em = 16px */

/* first breakpoint: 1344px /16 = 84em  (smaller desktops)*/
@media (max-width: 84em) {
  .hero {
    max-width: 120em;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* below 1200px (landscape Tables) */
@media (max-width: 75em) {
  html {
    font-size: 56.25%; /* 9/16 */
  }

  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}

/* below 944px (Tablets) */
@media (max-width: 59em) {
  html {
    font-size: 50%; /*  8/16  */
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    margin-top: 3.2rem;
    justify-content: center;
  }

  .hero-img {
    width: 60%;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.6rem;
  }

  .mobile-nav {
    display: block;
  }

  .main-nav {
    position: absolute;
    background-color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.5s ease-in;
    /* hiding mobile nav: */
    /* we did nt use display: none; because it allows no animation */

    opacity: 0; /* hide it visually */
    pointer-events: none; /* make it unreachable to mouse and keybor */
    visibility: hidden; /* hide it from screen readers */
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.2rem;
  }

  .footer {
    padding: 6.4rem;
  }
}

/* below 704px (Small Tablets) */
@media (max-width: 44em) {
  .grid--3cols,
  .grid--4cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .pricing-plan {
    max-width: 100%;
  }

  .footer {
    padding: 6.4rem;
  }

  .grid--5cols {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
    margin-bottom: 3.2rem;
  }

  .nav-col {
    grid-row: 2;
    grid-column: span 2;
  }
}

/* below 544px (phones) */
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2cols,
  .grid--3cols,
  .grid--4cols {
    grid-template-columns: 1fr;
  }

  .plan-starter {
    justify-self: auto;
  }

  .section-hero {
    padding: 1.6rem 0 4.8rem 0;
  }

  .hero {
    display: block;
    padding: 0 3.2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-img {
    display: none;
  }

  .logos img {
    height: 1.2rem;
  }

  .section-how,
  .section-meals {
    padding: 6.4rem 0;
  }

  .steps div:nth-child(2) {
    grid-row: 1;
  }

  .steps div:last-child {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonial-container {
    padding: 6.4rem 3.2rem;
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .footer {
    padding: 4.8rem 3.2rem;
  }
}
