/* 

----- 01 TYPOGRAPHY SYSTEM -----

  - Font sizes (px):
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 44 / 52 / 62 / 74 / 86 / 98

  - Font weights:
    400 (default)/ 500 / 600 / 700

  - Line height:
    1 (default) / 1.6


----- 02 COLORS -----

  - Primary: #e67e22
  - Grays: #555 #333
  - Accent:
  - Tints: #fdf2e9
  - Shades: #cf711f


----- 06 SHADOWS -----
  - 9px

----- 07 WHITE SPACE -----

  - Spacing system (px):
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* set rem to 10px */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/**************************************/
/******** Reusable components *********/
/**************************************/

.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;

  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* adding animation for buttons */
  transition: background-color 0.3s;
}

.btn--primary:link,
.btn--primary:visited {
  background-color: #e67e22;
  color: white;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: #cf711f;
}

/* helper class */
.margin-right {
  margin-right: 1.6rem !important;
}

.btn--secondary:link,
.btn--secondary:visited {
  background-color: white;
  color: #555;
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: #fdf2e9;

  /* add border inside */
  box-shadow: inset 0 0 3px #fff;
}

/**************************************/
/************** Header ****************/
/**************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fdf2e9;
  /* we use height instead of padding to make header sticky */
  height: 9.6rem;
  padding: 4.8rem;
}

.logo {
  height: 2.2rem;
}

/**************************************/
/************ Navigation **************/
/**************************************/
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transform: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;

  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/**************************************/
/*********** Hero Section *************/
/**************************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 2.4rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;

  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;

  margin-bottom: 4.8rem;
}

.delivered-meals {
  margin-top: 8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  margin-left: -1.6rem;
  border-radius: 50%;
  border: 0.3rem solid #fdf2e9;
}

.delivered-text {
  font-weight: 600;
  font-size: 1.8rem;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.hero-img {
  width: 100%;
}
