/* 

----- 01 TYPOGRAPHY SYSTEM -----

  - Font sizes (px):
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 44 / 52 / 62 / 74 / 86 / 98

  - Font weights:
    400 (default) /

  - Line height:
    1 (default) /


----- 02 COLORS -----

  - Primary: #e67e22
  - Grays: #555
  - Accent:
  - Tints:
  - Shades:


----- 07 WHITE SPACE -----

  - Spacing system (px):
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
